<div class="container mt-3">
<h1>These are all the lists of movies</h1>
</div>
<div class="row justify-content-center">
  <% @lists.each do |list| %>
    <div class="col-3">
      <div class="card" >
        <div class="card-body">
          <%= link_to list_path(list), class: "text-decoration-none" do %>
            <p class="card-title"><%= list.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>
<%= link_to "make a new list", new_list_path, class: "text-decoration-none" %>
